In [2]:
#Methods

mylist = [1,2,3]

mylist.append(4)
mylist

[1, 2, 3, 4]

In [3]:
help(mylist.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

In [6]:
#Functions

#Syntax
def say_hello():
    print('hello')
    print('are')
    print('you')

In [7]:
say_hello()

hello
are
you

In [8]:
say_hello #add on paranthesis or else it shows you it is a function

In [9]:
def say_hello(name='Default'):
    print(f'hello {name}')

In [10]:
say_hello('mani')

hello mani

In [11]:
def add_num(num1, num2):
    return num1+num2

In [13]:
result = add_num(10,20)

In [14]:
result

30

In [15]:
#diff between return and result

def print_result(a,b):
    print(a+b)

In [16]:
def return_result(a,b):
    return a+b

In [19]:
result = print_result(10,20)

30

In [20]:
result

In [21]:
type(result)

NoneType

In [22]:
result = return_result(10,20)

In [23]:
result

30

In [24]:
def myfunc(a,b):
    print(a+b)
    return a+b

In [25]:
#it get best of both either return or print
result = myfunc(10,20)

30

In [26]:
result

30

In [28]:
def sum_numbers(num1, num2):
    return num1+num2

In [29]:
sum_numbers(10,20)

30

In [30]:
sum_numbers('10', '20')

'1020'

# Logic

In [31]:
2 % 2

0

In [32]:
3 % 2

1

In [33]:
41 % 40

1

In [34]:
20 % 2 # this is even

0

In [35]:
 20 % 2 == 0

True

In [36]:
21 % 2 == 0

False

In [39]:
def even_check(number):
    result = number % 2 == 0
    return result

In [42]:
# or we can write code even like this
def even_check(number):
    return number % 2 == 0

In [43]:
even_check(20)

True

In [44]:
even_check(21)

False

In [45]:
# return true if any number is even inside a list

In [54]:
#list
def check_even_list(num_list):

    for number in num_list:
        if number % 2 == 0:
            return True
        else:
            pass
        
    return False #it should be in for loop

In [55]:
check_even_list([1,3,5])

False

In [56]:
check_even_list([2,4,5])

True

In [57]:
check_even_list([2,3,5])

True

In [58]:
check_even_list([1,3,4])

True

In [60]:
#list
def check_even_list(num_list):
    # return all the even number in a list
    
    #placeholder variables
    even_numbers = []
    
    
    for number in num_list:
        if number % 2 == 0:
            even_numbers.append(number)
            
        else:
            pass
        
    return even_numbers

In [61]:
check_even_list([1,2,3,4,5])

[2, 4]

In [62]:
check_even_list([1,3,5])

[]

In [63]:
#Tuple and packing
Stock_prices = [('Appl',200),('Google',400),('Msft',100)]

In [64]:
for item in Stock_prices:
    print(item)

('Appl', 200)
('Google', 400)
('Msft', 100)

In [67]:
for ticker,price in Stock_prices:
    print(price+(0.1*price))

220.0
440.0
110.0

In [73]:
work_hours = [('Abby',100),('Billy',400),('Cassie',800)]

In [78]:
def employee_check(work_hours):
    
    current_max = 0
    employee_of_month = ''
    
    for employee,hours in work_hours:
        if hours > current_max:
            current_max = hours
            employee_of_month = employee
        else:
            pass
    
    #return 
    return(employee_of_month, current_max)

In [79]:
employee_check(work_hours)

('Cassie', 800)

# shuffle function

In [80]:
example = [1,2,3,4,5]

In [81]:
from random import shuffle

In [82]:
shuffle(example)

In [83]:
example

[2, 4, 5, 1, 3]

In [88]:
def shuffle_list(my_list):
    shuffle(my_list)
    return(my_list)

In [89]:
result = shuffle_list(example)

In [90]:
result

[4, 1, 2, 3, 5]

In [91]:
mylist = ['','O','']

In [92]:
shuffle_list(mylist)

['', '', 'O']

In [97]:
def player_guess():
    
    guess=''
    
    while guess not in ['0','1','2']:
        guess = input('Pick a number: 0,1, or 2')
        
    return int(guess)

In [99]:
player_guess()

Pick a number: 0,1, or 28
Pick a number: 0,1, or 29
Pick a number: 0,1, or 21

1

In [100]:
def check_guess(mylist,guess):
    if mylist[guess] == 'O':
        print('Correct!')
    else:
        print('Wrong guess!')
        print(mylist)

In [104]:
#Intial list
mylist = ['', 'O', '']

#Shuffle list
mixedup_list = shuffle_list(mylist)

#User guess
guess = player_guess()

#Check guess
check_guess(mixedup_list, guess)

Pick a number: 0,1, or 22
Wrong guess!
['O', '', '']

# *args and **kwargs

In [12]:
#here there is a limit to print based on given strings
def myfunc(a,b,c=0,d=0,e=0):
    # rerurns 5% of the sum of a and b
    return sum((a,b,c,d,e))* 0.05

In [13]:
myfunc(40,60,100,200,3)

20.150000000000002

In [14]:
#you can as many as numbers it will add as the sum
def myfunc(*args):
    return sum(args)*0.05

In [15]:
myfunc(40,60,30,50,70)

12.5

In [16]:
def myfunc(*args):
    for item in args:
        print(item)

In [17]:
myfunc(40,60,100,2,4)

40
60
100
2
4

In [23]:
def myfunc(**kwargs): #key word arguments it shows the dictnories
    print(kwargs) #return the dictonieries
    if 'fruit' in kwargs:
        print('my fruit of choice is {}'.format(kwargs['fruit']))
    else:
        print('I did not find any fruit here' )

In [24]:
myfunc(fruit = 'apple',veggie = 'lettuce')

{'fruit': 'apple', 'veggie': 'lettuce'}
my fruit of choice is apple

In [33]:
def myfunc(*args, **kwargs):
    print(args)
    print(kwargs)
    print('I would like {} {}'.format(args[0],kwargs['food']))

In [34]:
myfunc(10,20,30, fruits='orange', food='eggs',animal='dog')

(10, 20, 30)
{'fruits': 'orange', 'food': 'eggs', 'animal': 'dog'}
I would like 10 eggs

# Lambda expressions, Map and Filtter functions

In [1]:
def square(num):
    return num**2

In [2]:
my_nums = [1,2,3,4,5]

In [4]:
for item in map(square,my_nums):
    print (item)

1
4
9
16
25

In [7]:
list(map(square,my_nums))

[1, 4, 9, 16, 25]

In [14]:
def splicer (mystring):
    if len(mystring)%2 == 0:
        return 'EVEN'
    else:
        return mystring

In [15]:
names = ['Mani','stephen','Joy']

In [16]:
list(map(splicer,names))

['EVEN', 'stephen', 'Joy']

In [21]:
#Filter

def check_even(num):
    return num%2 == 0

In [23]:
mynums= [1,2,3,4,5,6]

In [26]:
list(filter(check_even,mynums))

[2, 4, 6]

In [28]:
for n in filter(check_even, mynums):
    print(n)

2
4
6

In [36]:
square = lambda num: num**2

In [38]:
square(5)

25

In [39]:
list(map(lambda num: num**2, mynums))

[1, 4, 9, 16, 25, 36]

In [40]:
list(filter(lambda num: num%2 == 0, mynums))

[2, 4, 6]

In [41]:
names

['Mani', 'stephen', 'Joy']

In [46]:
list(map(lambda name: name[::-1], names))

['inaM', 'nehpets', 'yoJ']

# nested statements and scope

In [47]:
x = 23

def printer():
    x = 50
    return x

In [48]:
print(x)

23

In [49]:
print(printer())

50

In [51]:
#From the above code first print statement is returning x of 23
# and second print statemnets is returning x of 50 so how does python know which x statement we are returning?
#This method is called as
#LEGB
#L: Local
#E: Enclosing
#G: Global
#B: Built-in

In [52]:
# lambda num:num**2 # this is local(num in lambda function is a local function)

In [58]:
name = 'This is a global string' # this is global level

def greet():
    
    #enclosing
    name = 'Sammy' 
    
    #local
    def hello():
        name = 'im a local'
        print('hello '+name) # it prints the name from local space
    
    hello()

In [59]:
greet()

hello im a local

In [60]:
len

In [80]:
#Global key word
x= 50

def func():
    global x
    print(f'x is {x}')
    
    #local reassignment on a global variable!
    x = 'New value'
    print(f'I just locally changed gloabl x to {x}')
    return x

In [81]:
print(x)

50

In [82]:
func()

x is 50
I just locally changed gloabl x to New value

'New value'

In [83]:
print(x)

New value